<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SInP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SInP.Properties.Settings.strCon" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;\\192.168.17.8\GESTAO_DE_ESTOQUE$\SInP - Sistema Indicador de Performance\bd.accdb&quot;" providerName="System.Data.OleDb" />
        <add name="SInP.Properties.Settings.strCon2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\Projetos\Visual Studio\SInP\bd.accdb&quot;" providerName="System.Data.OleDb" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.CodeRush.Common" publicKeyToken="35c9f04b7764aa3d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.4.0" newVersion="16.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.CodeRush.Core" publicKeyToken="35c9f04b7764aa3d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.4.0" newVersion="16.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.DXCore.Parser" publicKeyToken="35c9f04b7764aa3d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.1.4.0" newVersion="16.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SInP.Properties.Settings>
      <setting name="sqlEANxPosicaoMensal" serializeAs="String">
        <value>SELECT EXPR1, EXPR2 FROM (SELECT Mid(DAT_CONT,5,2) AS Expr1, Round(Avg(ACUR)*100,2) AS Expr2 FROM (SELECT DAT_CONT, DOC_INV1, POS_DEP, IIf(COUNT(PRODUTO) &gt; 1, 0, 1) AS ACUR FROM (SELECT INVENTARIO.DAT_CONT, INVENTARIO.DOC_INV1, INVENTARIO.POS_DEP, INVENTARIO.PRODUTO FROM INVENTARIO left JOIN POSICAO ON INVENTARIO.POS_DEP = POSICAO.POSICAO WHERE POSICAO.TIPO_DEP not in ( 1003, 7001, 7004)  and INVENTARIO.PRODUTO &lt;&gt; '' GROUP BY INVENTARIO.DOC_INV1, INVENTARIO.POS_DEP, INVENTARIO.PRODUTO, INVENTARIO.DAT_CONT) GROUP BY DOC_INV1, POS_DEP, DAT_CONT) GROUP BY Mid(DAT_CONT, 5, 2))</value>
      </setting>
    </SInP.Properties.Settings>
  </userSettings>
</configuration>
